<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projek.gerak">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bantuan" />
        <activity android:name=".Login" />
        <activity android:name=".Daftar" />
        <activity android:name=".Home" />
        <activity android:name=".Keahlian" />
        <activity android:name=".Pesan" />
        <activity android:name=".Belanja" />
        <activity android:name=".Titip" />
        <activity android:name=".Akun" />
        <activity android:name=".BeriMasukan" />
        <activity android:name=".FragmentAkun" />
        <activity android:name=".FragmentBantuan" />
        <activity android:name=".FragmentHome" />
        <activity android:name=".FragmentPesan" />
    </application>

</manifest>